.navbar-title {
    font-size: 25px;
}
#firstPage {
    min-height: 100vh;
    background-image: url("../img/teddy-bears-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#presentation {
    background-color: #000000ba;
}
.big-text {
    font-size: 50px;
    font-weight: bold;
}
