.navbar-title {
    font-size: 25px;
}
#firstPage {
    min-height: 100vh;
    background-image: url("../img/teddy-bears-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#presentation {
    background-color: #000000ba;
}
.big-text {
    font-size: 50px;
    font-weight: bold;
}
.description {
    min-width: 550px;
    margin: 15px auto;
    font-size: 18px;
}
.img-aboutUs {
    width: 400px;
    height: 400px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #fff;
}
.title-aboutUs {
    margin-bottom: 25px;
    font-size: 40px;
}
.presentation-aboutUs {
    font-size: 20px;
}
.btn-subscribe {
    text-decoration: none;
    color: #fff;
}
.title-teddyDay {
    padding-bottom: 15px;
}
.teddyDay {
    background: #b5b3b3;
}
.arrow {
    margin-left: 10px;
}